#map {
    height: 100vh;

}

h1 {
    text-align: center;
    background-color: aqua;
    color: blueviolet;
    margin:0;
    padding:0;
    
}

body{
    margin: 0;
    padding: 0;
}